.libs/
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
acinclude.m4
aclocal.m4
autom4te.cache/
build/
config.guess
config.h
config.h.in
config.nice
config.status
config.sub
configure
configure.ac
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
modules/
php_phpnasm.lo
phpnasm.la
run-tests.php