*.o
*.la
*.lo
*.so
/modules/
/.libs/
Makefile
Makefile.fragments
Makefile.objects
/autom4te.cache/
/build/
config.h
config.h.in
config.h.in~
config.nice
config.status
configure
configure.ac
libtool
run-tests.php
